body {
  margin: 0;
  padding: 0;
  font: 1em/1.5em "Open Sans", sans-serif;
  color: #fff;

  border: solid #12511c 0px;
  border-width: 4px 0;
}

.peter__container {
  /* width: 30rem; */
  padding: 2em;

  display: flex;
  flex-direction: column;

  background-color: white;
  color: black;

  margin-top: 4px;
  min-height: 90%;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
}

.peter__summary {

}

.peter__canvas {
  height: 20vw;
  width: 20vw;
  background-color: #e8c547;
  cursor: pointer;
}

.peter__headshot {
  display: block;
  width: 12rem;
  max-width: 50%;
  /* margin: 0 auto 1rem; */
  height: auto;
  border-radius: 50%;
}

.peter__name {
  /*font-family: "Roboto", cursive;*/
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  /* text-align: center; */
  line-height: 0.8;
  margin-bottom: 0.1em;
}

.peter__job-title {
  font-size: 1.5rem;
  font-weight: 300;
  /* text-align: center; */
  margin-bottom: 1rem;
  color: #999;
  font-style: italic;
}


.peter__links {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;

  list-style: none;
  /* margin: 1rem auto 0; */
  padding: 0;
}

.peter__links li {
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
}

.peter__links svg {
  width: 2em;
  height: 2em;
}

.peter__links li a {
  display: block;
  position: relative;
  /* padding-left: 1rem; */
  width: 32px;
  /* line-height: 2rem */
  vertical-align: middle;
  color: #999;
  transition: color 0.2s ease;

  path {
    transition: fill 0.2s ease;
    fill: #999;
  }
}

.peter__links li a:hover {
  color: #e8c547;

  path {
    fill: #e8c547;
  }
}

.peter__links li a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  font: normal 2rem/1em "FontAwesome";
}


a[rel="home"]::before { content: '\f015'; }
a[rel="github"]::before { content: '\f09b'; }
a[rel="gitlab"]::before { content: '\f296'; }
a[rel="stackoverflow"]::before { content: '\f16c'; }
a[rel="linkedin"]::before { content: '\f08c'; }
a[rel="goodreads"]::before { content: '\f3a8'; }
a[rel="bluesky"]::before { content: '\e671'; }



a {
  color: black;
}

a:hover {
  color: #e8c547;
  text-decoration: none;
}






.peter__main p {
  width: 30rem;
  max-width: 80%;
  margin: 0 auto 1rem;
}

