/* VARIABLES */
:root {
  --primary-color: #008d3d;
  --secondary-color: #ff9900;
  --highlight-color: var(--secondary-color);
  --highlighted-text-color: white;

  --text-color: black;
  --text-color-secondary: #999;
  --ornament-color: #eee;
  --bg-color: #fff;
}

/* Dark Mode */
.dark-mode {
  --text-color: #fff;
  --ornament-color: #666;
  --bg-color: #222;
}

/* Gradients */
.blue-grad {
  --primary-color: hsla(210, 90%, 80%, 1);
  --secondary-color: hsla(212, 93%, 49%, 1);
  --highlight-color: var(--secondary-color);
}

.green-yellow-grad {
  --primary-color: #008d3d;
  --secondary-color: #ffd747;
  --highlight-color: var(--secondary-color);
}

.lime-grad {
  --primary-color: #6eee87;
  --secondary-color: #59d102;
  --highlight-color: var(--secondary-color);
}

.green-grad {
  --primary-color: #12511c;
  --secondary-color: #478151;
  --highlight-color: var(--secondary-color);
}

/**************** Root Element ****************/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font: 1em/1.5em "Open Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: color 0.2s ease, background-color 0.2s ease;
}


/**************** Shared ****************/
/* Font Awesome Icons */
.fa-icon {
  display: block;
  position: relative;
  text-align: center;
  width: 32px;
}

.fa-icon::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  font: normal 2rem/1em "FontAwesome";
  color: var(--text-color);
  background-clip: text;
  background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  transition: color 0.2s ease;
}

.fa-icon:hover::before {
  color: transparent;
}

/* Links */
a {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease, font-size 0.2s ease, background-size 0.2s ease;
}

/* Text Links */
a:not(.fa-icon) {
  padding: 0 2px;
  background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}

a:not(.fa-icon):hover {
  background-size: 100% 100%;
  color: var(--highlighted-text-color);
}

/* Highlight Color */
::selection {
  background-color: var(--highlight-color);
  color: var(--highlighted-text-color);
}


/**************** Navbar ****************/
.navbar {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 1em;
  padding-left: 1em;
}

.navbar__logo {
  width: 2em;
  height: 2em;
}

.navbar__spacer {
  flex-grow: 1;
}

.navbar .fa-icon {
  width: 1.5em;
  height: 1.5em;
}

.navbar .fa-icon::before {
  font-size: 1.5em;
  cursor: pointer;
  color: var(--text-color);
  background-clip: text;
  background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  transition: color 0.2s ease;
}

.navbar .fa-icon:hover::before {
  color: transparent;
}

#menu-toggle {
  font-size: 0;
}

#menu-toggle::before {
  content: '\f0c9'; /* fa-bars */
}

#dark-mode-toggle::before {
  content: '\f185'; /* fa-sun */
}

.dark-mode #dark-mode-toggle::before {
  content: '\f186'; /* fa-moon */
}

@media screen and (max-width: 576px) {
  .navbar {
    padding-right: 1em;
  }

  #menu-toggle {
    font-size: 1em;
  }

  a.navbar__link,
  #dark-mode-toggle {
    font-size: 0;
    padding: 0;
  }
}


/**************** Intro Content ****************/
.peter__container {
  display: flex;
  flex-direction: column;
  min-height: 90%;
  max-width: 1024px;
}

.intro {
  height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  gap: 10vw;
  justify-content: center;
  align-items: center;
}

.peter__canvas {
  height: 20vw;
  width: 20vw;
  background-color: #e8c547;
  cursor: pointer;
}

.intro__headshot {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 10em;
}

.intro__text {
  padding: 1em;
}

.intro__greeting {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0em;
  color: var(--text-color-secondary);
}

.intro__name {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  line-height: 0.8;
  margin-bottom: 0.15em;
  margin-top: 0.15em;
}

.intro__title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0em;
  margin-bottom: 1rem;
  color: var(--text-color-secondary);
  font-style: italic;
}

.intro__links {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;

  li {
    height: 2em;
  }

  a {
    display: block;
    position: relative;
    width: 32px;
    color: var(--text-color-secondary);

    svg stop {
      transition: stop-color 0.2s ease;
    }
  }

  a::before {
    width: 1em;
    height: 1em;
    color: var(--text-color-secondary);
  }

  svg {
    width: 2em;
    height: 2em;
  }

  a:hover {
    text-decoration: none;
  
    svg {
      .gradient-start { 
        stop-color: var(--primary-color);
      }
      .gradient-end { 
        stop-color: var(--secondary-color);
      }
    }
  }
}

/* Specific Icons */
a[rel="home"]::before { content: '\f015'; }
a[rel="github"]::before { content: '\f09b'; }
a[rel="gitlab"]::before { content: '\f296'; }
a[rel="stackoverflow"]::before { content: '\f16c'; }
a[rel="linkedin"]::before { content: '\f08c'; }
a[rel="goodreads"]::before { content: '\f3a8'; }
a[rel="bluesky"]::before { content: '\e671'; }

/* Bluesky icon bugfix */
a[rel="bluesky"] { width: 40px; }
a[rel="bluesky"]::before { width: 1.2em; }

@media screen and (max-width: 660px) {
  .intro {
    flex-direction: column;
  }

  .intro__text {
    text-align: center;
    padding: 1em;
  }

  .intro__links {
    justify-content: center;
    padding: 0 4em;
  }
}

/**************** Shared Section ****************/
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 1em;
  /* min-height: calc(100vh - 2em); */
  min-height: 70vh;
  max-width: 768px;
}

/**************** Experience Content ****************/
.experience__type-title {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.experience {
  padding-left: 1em;
  margin-bottom: 1em;
  border-left: var(--ornament-color) 2px solid;

  h4 {
    margin: 0;
    font-weight: 500;
  }
}


.experience:hover {
  /* background-color: #8882; */
  /* outline: black 1px solid; */
}

.experience__period {
  margin-top: 0.2em;
  font-size: 0.9em;
  font-weight: 600;
  opacity: 0.5;
  margin-bottom: 0;
}

.experience__description {
  font-size: 0.85em;
  margin-top: 0;
}

.experience__skill-pills {
  display: flex;
  text-wrap: nowrap;
  gap: 4px;
  flex-wrap: wrap;
}

.peter__skill-pill {
  font-size: .8em;
  border-radius: 2em;
  background-color: var(--ornament-color);
  padding: 2px 8px;
  cursor: default;
}
