/**************** Intro Content ****************/
:root {
  --social-icon-size: 1.5em;
  --social-icon-gap: 0.75em;
}

.intro {
  /* height: 90vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.5em;
}

.peter__canvas {
  width: 20vw;
  height: 20vw;
  background-color: #e8c547;
  cursor: pointer;
}

.intro__headshot {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 10em;
}

.intro__text {
  width: 60%;
  padding: 1em;
}

.intro__greeting {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--text-color-secondary);
}

.intro__name {
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  line-height: 0.8;
}

.intro__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--text-color-secondary);
  font-style: italic;
}

.intro__links {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  gap: var(--social-icon-gap);
  list-style: none;
  padding: 0;
}

.intro__links li {
  height: var(--social-icon-size);
}

.intro__links li svg {
  width: var(--social-icon-size);
  height: var(--social-icon-size);
}

.intro__links a {
  position: relative;
  display: block;
  width: var(--social-icon-size);
  color: var(--text-color-secondary);
}

.intro__links li svg stop {
  transition: stop-color 0.2s ease;
}

.intro__links a:hover {
    text-decoration: none;
}

.intro__links a:hover svg .gradient-start { 
  stop-color: var(--primary-color);
}

.intro__links a:hover svg .gradient-end { 
  stop-color: var(--secondary-color);
}

@media screen and (width <= 660px) {
  .intro {
    flex-direction: column;
  }

  .intro__text {
    width: auto;
    padding: 1em;
    text-align: center;
  }

  .intro__links {
    justify-content: center;
    padding: 0 1em;
  }
}