/**************** Intro Content ****************/
:root {
  --social-icon-size: 1.5em;
  --social-icon-gap: 0.75em;
}

.intro {
  /* height: 90vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.5em;
}

.peter__canvas {
  width: 20vw;
  height: 20vw;
  background-color: #e8c547;
  cursor: pointer;
}

.intro__headshot {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 10em;
}

.intro__text {
  width: 60%;
  padding: 1em;
}

.intro__greeting {
  margin-bottom: 0;
}

.intro__name {
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  line-height: 0.8;
}

@media screen and (width <= 660px) {
  .intro {
    flex-direction: column;
  }

  .intro__text {
    width: auto;
    padding: 1em;
    text-align: center;
  }
}