<head>
  {{- $title := print (cond .IsHome "" (printf "%s • " .Title)) .Site.Title -}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{- $title -}}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/intro.css">
  <link rel="stylesheet" type="text/css" href="/css/projects.css">
  <link rel="stylesheet" type="text/css" href="/css/projects-featured.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link rel="stylesheet" type="text/css" href="/css/chroma/syntax-dark.css">
  <link rel="stylesheet" type="text/css" href="/css/chroma/syntax-light.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800&display=swap">
  
  <!-- TODO: Add proper social media link tags -->
  <!--  Essential META Tags -->
  <meta property="og:title" content="{{- $title -}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{- .Permalink -}}">
  {{/*  <meta property="og:image" content="IMAGE_HERE">  */}}
  {{/*  <meta name="twitter:card" content="summary_large_image">  */}}
  {{/*  <meta name="twitter:image:alt" content="IMAGE_ALT_DESCRIPTION_HERE">  */}}

  <!--  Non-Essential, But Recommended -->
  {{/*  <meta property="og:description" content="">  */}}
  <meta property="og:site_name" content="{{- .Site.Title -}}">
</head>