{{- $showSubtitle := or (.Params.date) (.Params.updated) -}}
{{- $subtitleText := "" -}}
{{- if and (.Params.date) (.Params.updated) -}}
  {{- $dateText := printf "%s" ($.Page.Date | dateFormat (i18n "dateFormat")) -}}
  {{- $updatedText := printf "%s" (.Params.updated | dateFormat (i18n "dateFormat")) -}}
  {{- $subtitleText = printf "%s • %s: %s" $dateText (i18n "page.updated") $updatedText -}}
{{- end -}}
{{- if and (.Params.date) (not .Params.updated) -}}
  {{- $subtitleText = printf "%s" ($.Page.Date | dateFormat (i18n "dateFormat")) -}}
{{- end -}}
{{- if and (not .Params.date) (.Params.updated) -}}
  {{- $subtitleText = printf "%s: %s" (i18n "page.updated") (.Params.updated | dateFormat (i18n "dateFormat")) -}}
{{- end -}}

{{- if $showSubtitle -}}
  <p class="subtitle">{{- $subtitleText -}}</p>
{{- end -}}
