{{- define "main"}}
{{- $siteData := .Site.Data -}}

<main>
  <div id="container-404"></div>
</main>

<script>
  // Manually store translations for each language defined in the site
  var translations = {
    {{- range .Site.Languages -}}
      {{- $data := index $siteData .Lang "404" -}}
      "{{- .Lang -}}": {
        "title": {{- $data.title -}},
        "message": {{- $data.message -}},
        "return": {{- $data.return -}}
      },
    {{- end -}}
  };
  var langCodes = Object.keys(translations);

  // Get language code from URL
  function getLanguageFromUrl() {
    var path = window.location.pathname;
    for (var i = 0; i < langCodes.length; i++) {
      const lang = langCodes[i];
      var regex = new RegExp(`^/${lang}/`);
      if (regex.test(path)) {
        return lang;
      }
    }
    return "en";
  }
  
  // Get appropriate translations
  var currentLang = getLanguageFromUrl();
  var textData = translations[currentLang] || translations["en"];

  // Update page title
  document.title = `404 ${textData.title} |${document.title.split('|').slice(1)}`;
  
  // Populate the page with the appropriate translations
  var container = document.getElementById("container-404");
  const h1 = document.createElement('h1');
  const p = document.createElement('p');
  const a = document.createElement('a');
  h1.textContent = `404 - ${textData.title}`;
  p.textContent = textData.message;
  a.href = `/${currentLang}/`;
  a.textContent = `← ${textData.return}`;
  container.innerHTML = '';
  container.appendChild(h1);
  container.appendChild(p);
  container.appendChild(a);
</script>
{{- end -}}