{{- $lang := .Page.Language.Lang -}}
{{- $experiences := index .Site.Data $lang "experience" -}}

{{- range $experiences -}}
<div class="experience__timeline-wrapper">
  <div class="experience__line"></div>
  <div class="section__item experience">
    <div class="section__item-head">
      <h4>{{ .title }} • <a href="{{- .link -}}">{{- .org -}}</a></h4>
      <p class="section__item-period">{{- .period_long -}}</p>
    </div>
    <p class="section__item-description">{{- .content | markdownify -}}</p>
    <div class="section__item-pills">
      {{- range .skills -}}
        <span class="skill-pill">{{- . -}}</span>
      {{- end -}}
    </div>
  </div>
</div>
{{- end -}}
