{{- $lang := .Page.Language.Lang -}}
{{- $posts := where site.RegularPages "Section" "post" -}}
{{- $posts = where $posts "Language.Lang" $lang -}}
{{- $posts = where $posts "Params.unlisted" "!=" true -}}
{{- $posts = $posts.ByDate.Reverse -}}

{{/*  Create a map of posts by year  */}}
{{- $postsByYear := dict -}}
{{- range $posts -}}
  {{- $year := .Date.Format "2006" -}}
  {{- $yearPosts := index $postsByYear $year -}}
  {{- if not $yearPosts -}}
    {{- $yearPosts = slice -}}
  {{- end -}}
  {{- $yearPosts = $yearPosts | append . -}}
  {{- $postsByYear = merge $postsByYear (dict $year $yearPosts) -}}
{{- end -}}

{{- $years := slice -}}
{{- range $year, $yearPosts := $postsByYear -}}
  {{- $years = $years | append $year -}}
{{- end -}}
{{- $years = sort $years "value" "desc" -}}
{{/*  -----------------------------  */}}

{{- range $years -}}
  <h2>{{- . -}}</h2>
  {{- range index $postsByYear . -}}
    <div class="">
      <div class="section__item-head">
        <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
        <p class="section__item-period">{{- .Date.Format "Jan 2" -}}</p>
      </div>
    </div>
  {{- end -}}
{{- else -}}
  <p>{{ i18n "writing.non-found" }}</p>
{{- end -}}
