{{- $lang := .Page.Language.Lang -}}
{{- $baseData := .Site.Data.projects -}}
{{- $langData := index .Site.Data $lang "projects" -}}

{{- $baseProjects := $baseData.projects -}}
{{- $baseLinks := $baseData.links -}}
<!-- {{- $baseSkills := $baseData.skills -}} -->

{{- $langProjects := $langData.projects -}}
{{- $langLinks := $langData.links -}}
<!-- {{- $langSkills := $langData.skills -}} -->

<div class="projects-table">
  <table>
    <thead>
      <tr>
        <th>{{ i18n "proj_list.year" }}</th>
        <th>{{ i18n "proj_list.project" }}</th>
        <th>{{ i18n "proj_list.links" }}</th>
      </tr>
    </thead>
    <tbody>
      {{- range $baseProjects -}}
      {{- $projectId := .id -}}
      {{- $langProject := index $langProjects $projectId -}}
      
      {{- $title := (index $langProject "title") | default .title -}}
      
      <tr>
        <td class="project-period">{{- .period -}}</td>
        <td class="project-title">{{- $title -}}</td>
        <td class="project-link">
          <div class="project-link-wrapper">
            {{- range .links -}}
              {{- $labelKey := .label -}}
              
              {{- $label := index $langLinks $labelKey | default (index $baseLinks $labelKey) | default $labelKey -}}
              <div class="project-link-pill">
                <a href="{{- .url -}}" target="_blank">{{- $label -}}</a>
                {{ readFile "static/img/icons/arrow.svg" | safeHTML }}
              </div>
            {{- end -}}
          </div>
        </td>
      </tr>
      {{- end -}}
    </tbody>
  </table>
</div>