{{- $lang := .Page.Language.Lang -}}
{{- $posts := where site.RegularPages "Section" "post" -}}
{{- $posts = where $posts "Language.Lang" $lang -}}
{{- $posts = where $posts "Params.unlisted" "!=" true -}}
{{- $posts = $posts.ByDate.Reverse -}}

{{- $posts = first 3 $posts -}}

{{- range $posts -}}
  <div class="">
    <div class="section__item-head">
      <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
      <p class="section__item-period">{{- .Date.Format "Jan 2, 2006" -}}</p>
    </div>
     <p class="section__item-description">{{- .Summary -}}</p>
  </div>
{{- else -}}
  <p>{{ i18n "writing.non-found" }}</p>
{{- end -}}
<p class="see-more-link"><a href="./writing">{{ i18n "writing.more" }} →</a></p>