{{- $lang := .Page.Language.Lang -}}
{{- $projects := index .Site.Data $lang "projects" -}}

<div class="projects-table">
  <table>
    <thead>
      <tr>
        <th>{{ i18n "proj_list.year" }}</th>
        <th>{{ i18n "proj_list.project" }}</th>
        <th>{{ i18n "proj_list.links" }}</th>
      </tr>
    </thead>
    <tbody>
      {{- range $projects -}}
      <tr>
        <td class="project-period">{{- .period -}}</td>
        <td class="project-title">{{- .title -}}</td>
        <td class="project-link">
          {{- range .links -}}
          <div class="project-link-pill">
            <a href="{{- .url -}}" target="_blank">{{- .label -}}</a>
            {{ readFile "static/img/icons/arrow.svg" | safeHTML }}
          </div>
          {{- end -}}
        </td>
      </tr>
      {{- end -}}
    </tbody>
  </table>
</div>