{{- $notebook := .Get "notebook" -}}
{{- $cells := .Get "cells" -}}
{{- $id := .Get "id" | default (printf "observable-%d" now.Unix) -}}

<div id="{{- $id -}}" class="observable-embed"></div>
<p class="observable-link"> See original notebook on <a href="https://observablehq.com/{{- $notebook -}}" target="_blank" rel="noopener">Observable →</a></p>

{{/*  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">  */}}
<script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
  import notebook from "https://api.observablehq.com/{{- $notebook -}}.js?v=4";
  
  const target = document.querySelector("#{{- $id -}}");
  const cellNames = "{{- $cells -}}".split(",").map(d => d.trim());

  // Create ID map
  const renders = {};
  for (let cellName of cellNames) {
    const id = cellName.toLocaleLowerCase().replace(/\s+/g, '-');
    if (cellName.startsWith("FULLWIDTH ")) {
      cellName = cellName.replace("FULLWIDTH ", "");
    }
    renders[cellName] = id;
  }
  console.log(renders);

  // Create divs
  for (let i in renders) {
    const id = renders[i]
    renders[i] = document.createElement('div');
    renders[i].id = id;
    if (id.startsWith("fullwidth-")) {
      renders[i].classList.add("observable-fullwidth");
    }
    target.appendChild(renders[i]);
  }

  // Load notebook
  new Runtime().module(notebook, (name) => {
    if (renders[name]) return new Inspector(renders[name]);
  });
</script>